## **Lesson 1: Getting started with vs code and jupyter notebook**

# H
## H
### H
#### H
###### H

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
#!pip install pandas numpy matplotlib seaborn

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
titanic = sns.load_dataset("titanic")

In [5]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
print("H")

H

In [9]:
# variable assignment
message = "Hello, World!"
print(message)

Hello, World!

In [11]:
print(message)

Hello, World!

In [12]:
alist1 = [1, 2, 3, 4, 5]
alist2 = alist1 
alist2[0] = 10
print(alist1)  
print(alist2)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

**2-1. Simple Message:** Assign a message to a variable, and then print that
message.

In [13]:
mes = "Hello, World!"
print(mes)

Hello, World!

**2-2. Simple Messages:** Assign a message to a variable, and print that message.
Then change the value of the variable to a new message, and print the new
message.

In [14]:
mess = "Hello, World!"
print(mess)
mess = "Hello, Python!"
print(mess)

Hello, World!
Hello, Python!

In [15]:
nct = 'Truong CN-NEU'
mess1 = 'Anh noi rằng: "Python là ngôn ngữ lập trình tuyệt vời nhất!"'
print(nct)
print(mess1)

Truong CN-NEU
Anh noi rằng: "Python là ngôn ngữ lập trình tuyệt vời nhất!"

In [17]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [19]:
zen = '''The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.'''
print(zen)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.

In [20]:
ho = "Nguyen"
ten = "Tuan Long"
full_name = f"{ho} {ten}"
print(full_name)

Nguyen Tuan Long

In [22]:
print('{} - {}'.format(ho, ten))

Nguyen - Tuan Long

In [23]:
dir("sdfsf")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
'dfs1f'.isalpha()

False

In [27]:
'sdfsf sdfs sdfs'.replace('s', 'x',2)

'xdfxf sdfs sdfs'

In [28]:
full_name

'Nguyen Tuan Long'

In [29]:
full_name.upper()

'NGUYEN TUAN LONG'

In [30]:
full_name

'Nguyen Tuan Long'

In [31]:
0.1+0.1+0.1 == 0.3

False

In [32]:
0.1+0.1+0.1

0.30000000000000004

In [33]:
not True

False

In [36]:
type(1==2)

bool

In [37]:
type(full_name)

str

In [38]:
type(1)

int

In [39]:
type(1.2)

float

In [40]:
int('sdfs')

ValueError: invalid literal for int() with base 10: 'sdfs'