## Lesson 4

In [5]:
# check prime
def is_prime(n:int)->bool:
    """check prime numbers"""
    if n<=1:
        return False
    else:
        for d in range(2,int(n**0.5)+1):
            if n%d==0:
                return False
    return True

In [8]:
is_prime(11)

True

In [10]:
#vi tri của tham số
def cal(x,y):
    return x+2*y

In [11]:
cal(3,4) == cal(4,3)

False

In [12]:
cal(x = 3,y = 4) == cal(y = 4,x = 3)

True

In [4]:
sorted([2,4,1,4])

[1, 2, 4, 4]

In [15]:
def cal1(x,y=1):
    return x+2*y

In [16]:
cal1(x=3,y=4)

11

In [19]:
cal1(3,4)

11

In [17]:
cal1(4)

6

In [21]:
def cal_1(kind:str, *numbers: int)->float:
    if kind == 'sum':
        return sum(numbers)
    elif kind == 'mean':
        return sum(numbers)/len(numbers)
    else:
        return "not defined"

In [22]:
cal_1('mean', 3,4,5,6,7,8,9,2,3,4)

5.1

In [1]:
import my_module as md

My mudule is imported

In [2]:
md.data

[1, 2, 3, 4, 2, 4, 5, 2]

In [3]:
md.count_fre('Hello Long my name is Nguyen Tuan Long , hello')

{'hello': 2,
 'long': 2,
 'my': 1,
 'name': 1,
 'is': 1,
 'nguyen': 1,
 'tuan': 1,
 ',': 1}

In [4]:
data

NameError: name 'data' is not defined

In [5]:
from my_module import data

In [6]:
data

[1, 2, 3, 4, 2, 4, 5, 2]

In [7]:
from my_module import count_fre

In [8]:
count_fre('sdfsf sf sf s fs fsd fs f')

{'sdfsf': 1, 'sf': 2, 's': 1, 'fs': 2, 'fsd': 1, 'f': 1}

In [12]:
path = r'D:\OneDrive - National Economics University\Day hoc\Tiếng Anh\Python for Data science\Courses\Course completed\DSEB65/Final exam/Data4final_exam/'
#dseb65_final_exam.py
import sys 
sys.path.insert(0,path)
print(sys.path)

['D:\\OneDrive - National Economics University\\Day hoc\\Tiếng Anh\\Python for Data science\\Courses\\Course completed\\DSEB65/Final exam/Data4final_exam/', 'C:\\Users\\Admin\\anaconda3\\python311.zip', 'C:\\Users\\Admin\\anaconda3\\DLLs', 'C:\\Users\\Admin\\anaconda3\\Lib', 'C:\\Users\\Admin\\anaconda3', 'd:\\CODE\\env-teaching', '', 'd:\\CODE\\env-teaching\\Lib\\site-packages', 'd:\\CODE\\env-teaching\\Lib\\site-packages\\win32', 'd:\\CODE\\env-teaching\\Lib\\site-packages\\win32\\lib', 'd:\\CODE\\env-teaching\\Lib\\site-packages\\Pythonwin']

In [13]:
import dseb65_final_exam as exam

In [14]:
exam.generate_bill_data(1)

'Bill ID: 101 | Date: 2024-11-16 | Customer: Jane Smith | Items: Earbuds (50.00), Mouse (25.50) | Discount: 15% | Tax: 10%\nBill ID: 102 | Date: 2024-11-20 | Customer: Emily Davis | Items: Mouse (25.50), Lamp (40.00), Laptop (1200.00) | Discount: 15% | Tax: 10%\nBill ID: 103 | Date: 2024-11-01 | Customer: John Doe | Items: Earbuds (50.00), Smartphone (850.00), HDMI Cable (15.00), Mouse (25.50), Desk (300.00) | Discount: 0% | Tax: 5%\nBill ID: 104 | Date: 2024-11-24 | Customer: Sarah Wilson | Items: Chair (150.00), Printer (200.00) | Discount: 5% | Tax: 10%\nBill ID: 105 | Date: 2024-11-08 | Customer: John Doe | Items: Lamp (40.00), Ink Cartridge (80.00), Monitor (250.00) | Discount: 5% | Tax: 8%\nBill ID: 106 | Date: 2024-11-04 | Customer: Jane Smith | Items: Earbuds (50.00), Laptop (1200.00), Chair (150.00), Monitor (250.00), Mouse (25.50) | Discount: 5% | Tax: 8%\nBill ID: 107 | Date: 2024-11-28 | Customer: Michael Brown | Items: Monitor (250.00), Printer (200.00), Smartphone (850.00), Earbuds (50.00), Ink Cartridge (80.00) | Discount: 20% | Tax: 10%\nBill ID: 108 | Date: 2024-11-12 | Customer: Sarah Wilson | Items: HDMI Cable (15.00), Laptop (1200.00), Lamp (40.00), Smartphone (850.00), Chair (150.00) | Discount: 15% | Tax: 7%\nBill ID: 109 | Date: 2024-11-12 | Customer: Sarah Wilson | Items: Mouse (25.50), Lamp (40.00), Monitor (250.00), Ink Cartridge (80.00) | Discount: 5% | Tax: 10%\nBill ID: 110 | Date: 2024-11-21 | Customer: Emily Davis | Items: Lamp (40.00), Laptop (1200.00) | Discount: 10% | Tax: 10%\nBill ID: 111 | Date: 2024-11-13 | Customer: Jane Smith | Items: Monitor (250.00), Smartphone (850.00), Laptop (1200.00) | Discount: 5% | Tax: 7%\nBill ID: 112 | Date: 2024-11-13 | Customer: Sarah Wilson | Items: HDMI Cable (15.00), Desk (300.00), Lamp (40.00), Earbuds (50.00) | Discount: 20% | Tax: 5%\nBill ID: 113 | Date: 2024-11-16 | Customer: Sarah Wilson | Items: Monitor (250.00), Ink Cartridge (80.00), Smartphone (850.00) | Discount: 15% | Tax: 5%\nBill ID: 114 | Date: 2024-11-12 | Customer: Michael Brown | Items: Monitor (250.00), Chair (150.00), Lamp (40.00) | Discount: 10% | Tax: 10%\nBill ID: 115 | Date: 2024-11-28 | Customer: John Doe | Items: Lamp (40.00), HDMI Cable (15.00), Laptop (1200.00), Smartphone (850.00) | Discount: 5% | Tax: 7%\nBill ID: 116 | Date: 2024-11-01 | Customer: John Doe | Items: Laptop (1200.00), Printer (200.00), Mouse (25.50), HDMI Cable (15.00) | Discount: 0% | Tax: 10%\nBill ID: 117 | Date: 2024-11-10 | Customer: Michael Brown | Items: Earbuds (50.00), Mouse (25.50), HDMI Cable (15.00) | Discount: 5% | Tax: 8%\nBill ID: 118 | Date: 2024-11-21 | Customer: John Doe | Items: Keyboard (45.75), Earbuds (50.00), Monitor (250.00) | Discount: 5% | Tax: 8%\nBill ID: 119 | Date: 2024-11-13 | Customer: Michael Brown | Items: Ink Cartridge (80.00), Desk (300.00), Lamp (40.00), HDMI Cable (15.00), Mouse (25.50) | Discount: 0% | Tax: 8%\nBill ID: 120 | Date: 2024-11-27 | Customer: Michael Brown | Items: Smartphone (850.00), Earbuds (50.00), Mouse (25.50), Printer (200.00), Ink Cartridge (80.00) | Discount: 20% | Tax: 10%\nBill ID: 121 | Date: 2024-11-15 | Customer: John Doe | Items: Laptop (1200.00), Chair (150.00), Keyboard (45.75) | Discount: 0% | Tax: 7%\nBill ID: 122 | Date: 2024-11-13 | Customer: Sarah Wilson | Items: Monitor (250.00), Smartphone (850.00), Ink Cartridge (80.00), Lamp (40.00), Printer (200.00) | Discount: 20% | Tax: 5%\nBill ID: 123 | Date: 2024-11-07 | Customer: Sarah Wilson | Items: Printer (200.00), Ink Cartridge (80.00), Chair (150.00), Laptop (1200.00) | Discount: 10% | Tax: 7%\nBill ID: 124 | Date: 2024-11-19 | Customer: John Doe | Items: Mouse (25.50), Ink Cartridge (80.00), Earbuds (50.00), HDMI Cable (15.00) | Discount: 5% | Tax: 10%\nBill ID: 125 | Date: 2024-11-29 | Customer: Michael Brown | Items: Laptop (1200.00), Monitor (250.00), Ink Cartridge (80.00) | Discount: 20% | Tax: 7%\nBill ID: 126 | Date: 2024-11-04 | Customer: Sarah Wilson | Items: Keyboard (45.75), HDMI Cable (15.00), Monitor (250.00), Laptop (1200.00), Chair (150.00) | Discount: 5% | Tax: 8%\nBill ID: 127 | Date: 2024-11-01 | Customer: Jane Smith | Items: HDMI Cable (15.00), Smartphone (850.00), Lamp (40.00), Mouse (25.50), Chair (150.00) | Discount: 10% | Tax: 10%\nBill ID: 128 | Date: 2024-11-11 | Customer: Michael Brown | Items: Earbuds (50.00), Laptop (1200.00), Keyboard (45.75), Smartphone (850.00), Desk (300.00) | Discount: 20% | Tax: 7%\nBill ID: 129 | Date: 2024-11-30 | Customer: Emily Davis | Items: Earbuds (50.00), Printer (200.00), Mouse (25.50) | Discount: 15% | Tax: 8%\nBill ID: 130 | Date: 2024-11-06 | Customer: Sarah Wilson | Items: Monitor (250.00), Smartphone (850.00), Mouse (25.50), Laptop (1200.00), HDMI Cable (15.00) | Discount: 5% | Tax: 7%\nBill ID: 131 | Date: 2024-11-12 | Customer: Sarah Wilson | Items: Earbuds (50.00), Desk (300.00), HDMI Cable (15.00) | Discount: 20% | Tax: 8%\nBill ID: 132 | Date: 2024-11-11 | Customer: Michael Brown | Items: Mouse (25.50), Earbuds (50.00), Smartphone (850.00), Lamp (40.00) | Discount: 5% | Tax: 5%\nBill ID: 133 | Date: 2024-11-03 | Customer: John Doe | Items: Mouse (25.50), Chair (150.00), Keyboard (45.75), HDMI Cable (15.00), Desk (300.00) | Discount: 0% | Tax: 10%\nBill ID: 134 | Date: 2024-11-19 | Customer: Sarah Wilson | Items: HDMI Cable (15.00), Mouse (25.50), Earbuds (50.00) | Discount: 10% | Tax: 8%\nBill ID: 135 | Date: 2024-11-27 | Customer: Sarah Wilson | Items: Lamp (40.00), Earbuds (50.00) | Discount: 0% | Tax: 5%\nBill ID: 136 | Date: 2024-11-14 | Customer: Michael Brown | Items: HDMI Cable (15.00), Printer (200.00) | Discount: 0% | Tax: 5%\nBill ID: 137 | Date: 2024-11-06 | Customer: John Doe | Items: Smartphone (850.00), Ink Cartridge (80.00) | Discount: 20% | Tax: 10%\nBill ID: 138 | Date: 2024-11-26 | Customer: John Doe | Items: Keyboard (45.75), Printer (200.00), Smartphone (850.00), Ink Cartridge (80.00), Mouse (25.50) | Discount: 15% | Tax: 10%\nBill ID: 139 | Date: 2024-11-21 | Customer: Sarah Wilson | Items: Monitor (250.00), Earbuds (50.00), Lamp (40.00), Desk (300.00) | Discount: 0% | Tax: 7%\nBill ID: 140 | Date: 2024-11-15 | Customer: Michael Brown | Items: Laptop (1200.00), Ink Cartridge (80.00) | Discount: 10% | Tax: 8%'

In [15]:
import seaborn as sns

In [17]:
titatic = sns.load_dataset('titanic')
titatic.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False